/* ======================= */
/*      Font Imports       */
/* ======================= */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ======================= */
/*        Variables        */
/* ======================= */

:root {
  --white: 252, 252, 252;
  --black: 16, 16, 16;
  --darkGrey: 95, 95, 95;
  --grey: 134, 134, 134;
  --lightGrey: 191, 191, 191;
  --darkBlue: 0, 75, 160;
  --blue400: 25, 118, 210;
  --lightBlue300: 99, 164, 255;
  --lightBlue200: 227, 239, 255;
  --lightBlue100: 243, 248, 255;
  --red: 237, 0, 0;
}

/* ======================= */
/*        Resets           */
/* ======================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-width: 1366px;
}

body {
  font-family: "Crimson Pro", serif;
  background-color: rgb(var(--lightBlue100));
}

a {
  text-decoration: none;
  color: inherit;
}

/* ======================= */
/*         Pages           */
/* ======================= */

.login-register__container {
  padding-block: 64px;
}

/* ======================= */
/*       Components        */
/* ======================= */

/* ------- Generic ------- */

.error {
  color: rgb(var(--red));
}

.selected {
  position: relative;
}

.selected::after {
  position: absolute;
  content: "";
  left: calc(50% - 3px);
  bottom: -2px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: rgb(var(--black));
}

.visually-hidden {
  display: none;
}

.placeholder {
  color: rgb(var(--grey));
}

/* ------- Buttons ------- */

button {
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.button__active {
  background-color: rgb(var(--darkBlue));
  color: rgb(var(--white));
}

.button__active:hover {
  background-color: rgb(var(--blue400));
}

.button__disabled {
  background-color: rgb(var(--darkBlue));
  color: rgb(var(--white));
}

.button__outline {
  background-color: rgb(var(--white));
  color: rgb(var(--black));
  outline: 1px solid rgb(var(--black));
}

.button__outline:hover {
  background-color: rgb(var(--grey));
  color: rgb(var(--white));
}

.button__delete {
  outline-color: rgb(var(--red));
  color: rgb(var(--red));
}

.button__delete:hover {
  background-color: rgb(var(--red));
  color: rgb(var(--white));
}

/* ------- Inputs ------- */

input,
select,
textarea {
  font-family: inherit;
  color: rgb(var(--black));
  outline: 1px solid rgb(var(--black));
  border: none;
  border-radius: 4px;
  background-color: rgb(var(--white));
}

input[type="date"] {
  height: 100%;
}

input::placeholder {
  color: rgb(var(--grey));
}

textarea {
  resize: none;
}

.input__container {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.input__login {
  width: 500px;
  height: fit-content;
  padding-inline: 32px;
  padding-block: 16px;
  background-color: rgb(var(--white));
}

.input__login__legend {
  position: absolute;
  top: -8px;
  left: 32px;
  padding-inline: 8px;
  background-image: linear-gradient(
    to bottom,
    rgb(var(--lightBlue100)) 0 50%,
    rgb(var(--white)) 50% 100%
  );
  color: rgb(var(--grey));
}

.input__profile-create {
  width: 400px;
  height: fit-content;
  padding-inline: 32px;
  padding-block: 8px;
}

/* ------- Header ------- */

.header {
  height: 112px;
  width: 100%;
  padding-block: 32px;
  background-color: rgb(var(--lightBlue200));
}

.header__container {
  margin-inline: auto;
  width: 70%;
  justify-content: space-between !important;
}

/* ------- Sections ------- */

.section__container-light {
  background-color: rgb(var(--lightBlue100));
  width: 100%;
  padding: 32px;
}

.section__container-dark {
  background-color: rgb(var(--lightBlue200));
  width: 100%;
  padding: 32px;
}

/* ------- Modals ------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(var(--black), 0.5);
  z-index: 10;
}

.modal__position-container {
  position: fixed;
  z-index: 15;
  top: 30vh;
  left: calc((100% - 1100px) / 2);
  width: 80%;
  min-width: 1100px;
  max-width: 1100px;
  padding: 32px;
  background-color: rgb(var(--lightBlue100));
  border-radius: 16px;
}

.modal__position-form {
  width: 100%;
  display: inline-block;
}

.modal__position-reval-checkbox {
  appearance: none;
  height: 17px;
  width: 17px;
  outline: 1px solid rgb(var(--black));
  outline-offset: 3px;
  margin-left: 3px;
  border-radius: 50%;
}

.modal__position-reval-checkbox:checked {
  background-color: rgb(var(--grey));
}

.modal__assessments-container {
  position: fixed;
  z-index: 15;
  top: 20vh;
  left: calc((100% - 1250px) / 2);
  width: 80%;
  height: 60%;
  min-width: 1250px;
  max-width: 1250px;
  padding: 32px;
  background-color: rgb(var(--lightBlue100));
  border-radius: 16px;
}

.modal__assessments-scrollarea {
  height: 100%;
  width: 100%;
  padding: 1px;
  overflow: hidden scroll;
}

/* ------- Tables ------- */

table,
tr,
th,
td {
  border: 1px solid rgb(var(--black));
  border-collapse: collapse;
}

table {
  table-layout: fixed;
  min-width: 1100px;
  max-width: 1100px;
  width: 1100px;
}

th,
td {
  padding: 8px;
}
