.w-100 {
  width: 100%;
}

.w-fit {
  width: fit-content !important;
}

.h-100 {
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  flex: 1;
}

.justify-sb {
  justify-content: space-between !important;
}

.justify-fs {
  justify-content: flex-start !important;
}

.justify-fe {
  justify-content: flex-end !important;
}

.justify-sa {
  justify-content: space-around !important;
}

.align-fs {
  align-items: flex-start;
}

.align-fe {
  align-items: flex-end;
}

.alignSelf-end {
  align-self: flex-end;
}

.alignSelf-start {
  align-self: flex-start;
}

.justifySelf-end {
  justify-self: flex-end;
}

.justifySelf-start {
  justify-self: flex-start;
}

.grid {
  width: 100%;
  display: grid;
}

.gc-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gc-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gc-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gc-s-2 {
  grid-column: span 2;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.gap-64 {
  gap: 64px;
}

.c-gap-8 {
  column-gap: 8px;
}

.c-gap-16 {
  column-gap: 16px;
}

.c-gap-32 {
  column-gap: 32px;
}

.c-gap-48 {
  column-gap: 48px;
}

.c-gap-64 {
  column-gap: 64px;
}

.r-gap-8 {
  row-gap: 8px;
}

.r-gap-16 {
  row-gap: 16px;
}

.r-gap-32 {
  row-gap: 32px;
}

.r-gap-48 {
  row-gap: 48px;
}

.r-gap-64 {
  row-gap: 64px;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-6 {
  margin-top: 48px !important;
}

.mt-8 {
  margin-top: 64px !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-6 {
  margin-bottom: 48px !important;
}

.mb-8 {
  margin-bottom: 64px !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-6 {
  margin-right: 48px !important;
}

.mr-8 {
  margin-right: 64px !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-6 {
  margin-left: 48px !important;
}

.ml-8 {
  margin-left: 64px !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-6 {
  padding-top: 48px !important;
}

.pt-8 {
  padding-top: 64px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-6 {
  padding-bottom: 48px !important;
}

.pb-8 {
  padding-bottom: 64px !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-6 {
  padding-right: 48px !important;
}

.pr-8 {
  padding-right: 64px !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-6 {
  padding-left: 48px !important;
}

.pl-8 {
  padding-left: 64px !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-6 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-8 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-6 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-8 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.bebas {
  font-family: "Bebas Neue", cursive;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-72 {
  font-size: 72px;
  line-height: 108px;
}

.fs-48 {
  font-size: 48px;
  line-height: 72px;
}

.fs-32 {
  font-size: 32px;
  line-height: 48px;
}

.fs-24 {
  font-size: 24px;
  line-height: 36px;
}

.fs-16 {
  font-size: 16px;
  line-height: 24px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.bs {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 1px 3px 1px rgba(0, 0, 0, 0.05);
}
